.about_container {
  height: 100%;
  position: relative;
}

.about_wrapper {
  margin: 0 auto;
  max-width: 60%;
}

.about_wrapper_one {
  margin-bottom: 60px;
  justify-content: center;
}

.about_wrapper_main_paragraph {
  border-top: 1px solid;
  border-color: var(--color-purple);
  padding-right: 10px;
  padding-top: 10px;
}
